{
  "presets": [
    [
      // 具体参数配置：https://www.babeljs.cn/docs/babel-preset-env#corejs
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.8"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
}