{
  "root": true, // 当前配置为根配置，将不再从上级文件夹查找配置
  "extends":["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "env": {
  },
  "rules": {
    
  },
  "globals": {

  },
  "parserOptions": {
    
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}